body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	color: black;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}
header {
    background: black;
    color: white;
    height: 80px;
}
header a {
    color: white;
}
#logo{
	float:left;
	margin-right: 10px;
    margin-top: 10px;
}
#logo:hover {
	color: #0b76a6;
}
#logo .site {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}	
nav{
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
}
.cart{
    width: 30px;
    height: 40px;
}
nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}
nav ul li a:hover {
    background: #0b76a6;
}
.slider-container {
        transition: 450ms -webkit-transform;
        transition: 450ms transform;
        transition: 450ms transform, 450ms -webkit-transform;
        font-size: 0;
        white-space: nowrap;
        margin: 10px 0px;
}
.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	inline-size: block;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
    margin: 10px;
	width: 400px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.slider img:hover{
    opacity: 0.3; 
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    min-height: calc(100vh - 200px); /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
  }
  
  .login__container {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid black;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px 68px 40px;
  }
  
  .login__container--form {
    display: flex;
    flex-direction: column;
  }
  
  .login__container--form label {
    font-size: 14px;
  }
  .login__container--remember-me a:hover {
    text-decoration: underline;
  }
  
  
  .login__container--register {
    font-size: 14px;
  }
  
  .login__container--register a {
    color: #0b76a6;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }
  
  .login__container--register a:hover {
    text-decoration: underline;
  }
  .register {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    min-height: calc(100vh - 200px); /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
  }
  
  .register__container {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid black;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 600px;
    padding: 60px 68px 40px;
    width: 300px;
  }
  
  .register__container--form {
    display: flex;
    flex-direction: column;
  }
  
  .register__container a {
    color: #0b76a6;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
  } 
  .register__container a:hover {
    text-decoration: underline;
  }
  .input {
    background-color: transparent;
    border-bottom: 2px solid black;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: black;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
  }
  
  ::placeholder {
    color: #0b76a6;
  }
  
  .button {
    background-color: #0b76a6;
    border: none;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
  }
  